@model MovieDirectorApp.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="moviedetail">
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal moviebackground">
        <dt>
            @Html.DisplayNameFor(model => model.Director.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RTScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RTScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WonAward)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WonAward)
        </dd>

    </dl>
 <p class="btn moviedetailbutton">
    @Html.ActionLink("Edit", "Edit", new { id = Model.MovieID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
</div>
